body {
  background: #fff;
  text-align: center;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none !important;
}

.paper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 20px;
}

.medium-margin {
  margin: 10px;
}

.medium-margin-top {
  margin-top: 50px;
}

.big-margin-top {
  margin-top: 100px;
}

.bigZone {
  max-width: 1000px;
  text-align: center;
}

.friend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin: 5px 150px; 
}

.friend-card {
  margin: 15px 20px;
}

.friend-photo {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  max-width: 100%;
  border: 1px solid grey;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  transition: box-shadow 0.3s ease;
}

.friend-photo:hover,
.friend-photo:focus {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.friend-name {
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 7px;
}

.points-table {
  margin: 50px;
}

.achievements-header {
  display: flex;
}

.columns {
  margin: 10px;
}

.arrow {
  height: 30px;
  width: 30px;
}

.achievements-icons {
  min-width: 140px;
}

.achievements-text {
  overflow: 'hidden';
  text-overflow: ellipsis;
}

.achievements-title {
  font-weight: bold;
  font-size: 18px;
  align-self: flex-start;
  margin: 0px;
  margin-left: 10px;
  max-width: 900px;
}

.achievements-description {
  margin: 0px;
  margin-left: 10px;
  max-width: 900px;
}

.general-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-notification {
  max-width: 400px;
  margin: 50px;
}

.column {
  display: flex;
  flex-flow: column;
}